@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Mulish", sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
html,
body,
#root,
.App {
  height: 100%;
  margin: 0;

  text-align: center;
}

.about-page {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1497114046243-1154db4f4abf");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(5%) brightness(95%);
  z-index: 0;
}
.about-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.about-container {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.about-container p {
  color: rgb(124, 175, 246);
  font-size: 0.4rem;
  margin-bottom: 10px;
}
.about-container h1,
h3,
h4,
a {
  color: rgb(124, 175, 246);
}
.about-container h1,
h2 {
  font-weight: bolder;
}
.about-container h2 {
  color: rgb(91, 136, 194);
}
.about-container h4 {
  font-size: 0.6rem;
}
.about-container ol {
  list-style: none;
  color: rgb(124, 175, 246);
}

.avatar {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px 0;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 0 1rem;
}

.icon {
  font-size: 1rem;
  color: #0a66c2;
  transition: color 0.3s;
}

a:hover .icon {
  color: #0056b3;
}

.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: rgb(60, 84, 101);
  }

  .about-container {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  .about-container h1 {
    font-size: 2rem;
  }
  .about-container h2 {
    font-size: 1.6rem;
  }
  .about-container h4 {
    font-size: 0.9rem;
  }
  .about-container ol {
    font-size: 1.3rem;
  }
  .about-container p {
    font-size: 1.3rem;
  }

  .about-container h4 {
    font-size: 1.5rem;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .icon {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 60px;
  }
  .about-container p {
    font-size: 1.2rem;
  }
  .about-container h4 {
    font-size: 2rem;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }
  .icon {
    font-size: 1.7rem;
  }
}

[data-theme="dark"] .about-container h1,
a,
h4 {
  color: #ffffff;
}
[data-theme="dark"] .about-container h2 {
  color: #ffffff;
}

[data-theme="dark"] .about-container p {
  color: #a69e9e;
}
[data-theme="dark"] .about-container ol {
  color: #a69e9e;
}
