@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root,
.App {
  height: 60%;

  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.story-form {
  text-align: center;
  margin: auto auto;
}

/* .form-story-grid-item {
  border: 5px ridge #3f496c;
  display: contents;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
} */
