*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "helvetica nueue", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about-page {
  background-position: center;
  background-color: #c7b8da;
  background-blend-mode: lighten;
  filter: contrast(90%);
  width: 100%;
  padding: 100px;
  z-index: 1;
  text-align: center;
}

p,
li,
a,
.flash-link {
  color: #5f94e8;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.site-title {
  font-size: 5rem;
  font-weight: bolder;
  color: rgb(250, 91, 17);
  background: -webkit-linear-gradient(#535ec0, #852bb2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 9rem;
  text-overflow: clip;
  margin-top: 3rem;
}
h1 {
  font-size: 5.5rem;
}
h2 {
  font-size: 3rem;
  color: rgb(48, 118, 210);
}
h3 {
  font-size: 1.4rem;
  color: rgb(209, 138, 244);
}
h4 {
  font-size: 1rem;
}

/* NAVBAR //////////////////////////////////////////////////////////////////////////////////////////////////////*/

.nav-toggle {
  display: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(146, 217, 255, 0.2);
  z-index: 102;
  transition: max-height 0.3s ease-out;
}
.nav-bar ul,
.nav-bar a,
li .theme-toggle {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}
.nav-bar a,
li .theme-toggle {
  list-style: none;
  text-decoration: none;
  color: #7342c7;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #007f90;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 4px 8px;
  transition: color 0.3s, box-shadow 0.3s;
}

.nav-bar a:hover {
  color: #022218;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  background-color: #65adcd;
}

/* LOGIN   //////////////////////////////////////////////////////////////////////////////////////////////////////*/

.login-form {
  max-width: 500px;
  width: auto;
  height: auto;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid rgb(150, 185, 223);
  border-radius: 50%;
  padding: 40px;
  margin-top: 40px;
  background-color: rgb(56, 43, 79);
  text-align: center;
  z-index: 10;
  position: relative;
  overflow: hidden;
}
.login-form p,
.login-form label {
  color: #bec5ff;
}

.login-form a {
  cursor: pointer;
  color: rgb(147, 196, 102);
  font-weight: bold;
  text-decoration: double;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.login-form a:hover {
  background-color: rgb(255, 115, 0);
  text-decoration: underline;
}

.title-login {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bolder;
  color: #bec5ff;
}

.input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.input-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*SIGN UP   ///////////////////////////////////////////////////////////////*/

.signup-form {
  max-width: 650px;
  width: auto;
  height: auto;
  margin: 40px auto;
  display: flex;
  background-color: rgb(158, 230, 100);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid rgb(67, 153, 144);
  border-radius: 50%;
  padding: 30px;
  text-align: center;
  z-index: 10;
  position: relative;
  overflow: hidden;
}
.signup-form p,
.signup-form label {
  font-size: 1rem;
  color: #003ea2;
}
.signup-form a {
  color: rgb(255, 140, 0);
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: double;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.signup-form a:hover {
  background-color: rgb(57, 0, 181);
  text-decoration: underline;
}

.title-sign {
  color: #0049bf;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bolder;
}

.sign-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.input-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*FOOTER  //////////////////////////////*/

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 11rem;
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}
.footer p {
  font-size: 1rem;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px 0;
}
.footer a {
  display: inline-block;
  padding: 10px;
}

a:hover .icon {
  color: #0056b3;
}

.icon {
  font-size: 1.5rem;
  color: #0a66c2;
  transition: color 0.3s;
  cursor: pointer;
}

/* ABOUT PAGE ////////////////////////////////////////////////////////////////////////////////////////////////////// */

.about {
  position: relative;
  background-image: url("https://media.istockphoto.com/id/475803452/fr/photo/nouveau-chapitre-de-lhistoire-de-machine-%C3%A0-%C3%A9crire.jpg?s=612x612&w=0&k=20&c=NmvgKHnigK_mqy6CcmDhlVCpB5KtuicsSQzkloQHlVc=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #b5a1d0;
  background-blend-mode: lighten;
  filter: contrast(90%);
  width: 100%;
  padding: 20px;
  z-index: 1;
  text-align: center;
}

.flash-link {
  text-decoration: wavy;
  color: #506e9e;
  transition: color 0.3s, box-shadow 0.3s;
}
.flash-link:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  background-color: #65adcd;
}

.about-container ol {
  list-style-type: disc;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 4rem;
}
.about-container li {
  color: #2a2c33;
}
/*ERROR PAGE*/
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2020/11/30/18/14/smpte-color-bars-5791787_1280.png");
}

/* DARK THEME //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-theme="dark"] .nav-bar {
  background-color: rgba(44, 44, 44, 0.8);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] .nav-bar a {
  color: #e0e0e0;
  border-color: #475588;
  background-color: rgba(44, 44, 44, 0.7);
}

[data-theme="dark"] .nav-bar a:hover {
  background-color: #333;
  color: #ffffff;
}

[data-theme="dark"] .about-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 27, 41, 0.5);
  z-index: 0;
}

[data-theme="dark"] .about-page {
  position: relative;
  background-position: center;
  background-color: #020102;
  /* background-blend-mode: darken; */
  width: 100%;
  z-index: 1;
}

[data-theme="dark"] h1,
a,
h4 {
  color: #f9f9ff;
}
[data-theme="dark"] h2 {
  color: #ffffff;
}

[data-theme="dark"] p,
li,
a,
.flash-link {
  color: #f9f9ff;
}
[data-theme="dark"] .nav-bar {
  background-color: rgba(44, 44, 44, 0.8);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] .nav-bar a {
  color: #ffffff;
  border-color: #475588;
  background-color: rgba(44, 44, 44, 0.7);
}
[data-theme="dark"] .nav-bar a:hover {
  background-color: #442152;
  color: #ffffff;
}
[data-theme="dark"] .nav-toggle {
  display: none;
  position: absolute;
  color: #c867ee;
}

[data-theme="dark"] .footer {
  background-color: rgba(44, 44, 44, 0.8);
}

[data-theme="dark"] .login-form {
  border: 4px solid rgb(159, 120, 195);
  background-color: rgb(133, 74, 188);
}

[data-theme="dark"] .login-form a:hover {
  background-color: rgba(255, 158, 39, 0.2);
}

[data-theme="dark"] .login-form a {
  color: rgb(180, 244, 69);
  font-weight: bold;
  text-decoration: double;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

[data-theme="dark"] .login-form p,
.login-form label {
  color: #f9f9ff;
}
[data-theme="dark"] .title-login {
  color: #f9f9ff;
}

[data-theme="dark"] .login-form a:hover {
  background-color: rgb(1, 2, 1);
  text-decoration: underline;
}

[data-theme="dark"] .signup-form {
  border: 4px solid rgb(141, 185, 66);
  background-color: rgb(121, 153, 67);
}

[data-theme="dark"] .about {
  position: relative;
  background-image: url("https://media.istockphoto.com/id/1349351147/fr/vectoriel/ic%C3%B4nes-de-puzzle-s%C3%A9rie-classic-line.jpg?s=612x612&w=0&k=20&c=8ouOTW33X-4o7CLdSkaZ4M--3P4s4Kf39pmW1476lrM=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #060b0be0;
  background-blend-mode: hue;
  width: 100%;
  padding: 50px;
  z-index: 1;
  text-align: center;
}

/* RESPOSNIVENESS ////////////////////////////////////////////////////////////////////////////////////////////////////////////   */

@media (max-width: 850px) {
  .about-container {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  ol {
    font-size: 1rem;
  }
  p,
  li,
  .flash-link {
    font-size: 1.1rem;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    color: #442152;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
  }
  .nav-bar {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: rgba(224, 227, 249, 0.95);
    top: 60px;
    left: 2rem;
    width: 20%;
    z-index: 101;
  }

  .nav-bar.visible {
    display: flex;
    max-height: none;
  }

  .nav-bar ul {
    flex-direction: column;
    padding: 0;
  }
  .login-form {
    padding: 30px;
  }

  .signup-form {
    padding: 30px;
  }

  .title-sign {
    font-size: 3rem;
    font-weight: bolder;
  }

  .sign-button {
    height: 2.4rem;
  }
}
@media (max-width: 768px) {
  .signup-form {
    width: auto;
    height: auto;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(67, 153, 144);
    border-radius: 50%;
    padding: 0.5rem;
    background-color: rgb(67, 153, 144);
    text-align: center;
    z-index: 10;
  }

  .icon {
    font-size: 1.5rem;
  }

  .last-section {
    display: inline-block;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 rem;
  }
}

@media (max-width: 530px) {
  p,
  li,
  .flash-link {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  .signup-form {
    padding: 20px;
  }
  .title-sign {
    font-size: 1.8rem;
    font-weight: bolder;
  }

  .signup-form a,
  .signup-form p {
    font-size: 1rem;
  }
  .login-form {
    padding: 30px;
  }

  .login-form a {
    font-weight: bold;
    text-decoration: double;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

  .login-form a:hover {
    background-color: rgba(255, 165, 0, 0.2);
    text-decoration: underline;
  }

  .title-login {
    font-size: 1rem;
  }

  .input-button {
    height: 1.5rem;
  }

  .input-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sign-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.6rem;
  }

  .icon {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  p,
  li,
  .flash-link {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  .signup-form {
    padding: 25px;
    display: flex;
    border-radius: 50%;
  }
  .title-sign {
    font-size: 2rem;
  }

  .signup-form a,
  .signup-form p {
    font-size: 1rem;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    padding: 30px;
  }
  .about-container ol {
    gap: 2rem;
  }
  .footer {
    display: inline-flex;
  }
  .footer p {
    font-size: 0.8rem;
  }
  .avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px 0;
  }

  .icon {
    font-size: 0.6rem;
    color: #2c7ccd;
    transition: color 0.3s;
    cursor: pointer;
  }
}
