@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root,
.App {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}
html {
  position: relative;
  background-image: url("https://images.freeimages.com/images/large-previews/e04/fairy-pond-1393019.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(10%) brightness(90%);
  background-position: center;
  min-height: 100vh;
}
.content-story {
  display: none;
}

.content-story.show {
  display: block;
}
/* .pond-page {
  position: relative;
  background-image: url("https://images.freeimages.com/images/large-previews/e04/fairy-pond-1393019.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(10%) brightness(90%);
  background-position: center;
  min-height: 100vh;
} */

.pond-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.pond-grid {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 0 15px;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  row-gap: 20px;
}

@media (min-width: 600px) {
  .pond-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (min-width: 1000px) {
  .pond-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
  }
}
.pond-tile {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  border: 5px ridge #3f496c;
  box-shadow: 0 2px 4px #0000001a;
  border-radius: 50%;
  width: 100%;
  max-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pond-tile:hover {
  transform: scale(1.05);
}

.pond-tile-content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
}

.pond-grid h2 a {
  text-decoration: none;
  font-size: 1.8rem;
  margin-bottom: 2px;
  color: rgb(16, 38, 53);
}

.pond-tile blockquote {
  margin: 2px 0;
  font-size: 0.5rem;
  color: rgb(16, 38, 53);
}

/* Dark Mode Styles */
[data-theme="dark"] {
  background-color: #2c2c2c;
  color: #e0e0e0;
}

[data-theme="dark"] .pond-grid {
  border-color: #475588;
}

[data-theme="dark"] .pond-tile {
  border-color: #475588;
  box-shadow: 0 2px 4px #fff1;
}

[data-theme="dark"] .pond-tile-content {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5); /* Adjusted for better visibility */
}

[data-theme="dark"] .pond h2 a,
[data-theme="dark"] .pond a.story {
  color: #e0e0e0;
}

[data-theme="dark"] .pond-tile blockquote {
  color: #e0e0e0;
}

[data-theme="dark"] .emoticon {
  color: #e0e0e0;
}

[data-theme="dark"] .pond {
  color: #e0e0e0;
}

/* Hide the Navbar */
.hidden-navbar {
  display: none;
}
